/*------------------------------------------------------------------
# [Color codes]

# Body #ccc

-------------------------------------------------------------------*/

body {
background-color:#ccc;
}

#container {
background-color:#fff;
color:#5c5c5c;
}

